.Navbar{
    display: flex;
    justify-content: space-around;
    form{
    //     position: relative;
    // bottom: 80px;
    // left: 50vh;
    // right: 50vh;
    display: flex;
    align-items: center;
    gap: 14px;
        input,.btnSearch{
            border-radius:8px;
            border:1px solid;
        }
        .btnSearch:hover{
            cursor:pointer;
            color: rgb(4, 4, 112);
            background-color: whitesmoke;
        }
    }
}
@media screen and (max-width: 640px) {
    .Navbar,form{

        display: flex;
        flex-direction: column;
    }
    .btnSearch{
       margin-bottom: 10px;
    }
}