.MiniCard{
    display: flex;
    justify-content: space-between;
    gap : 20px;
    transform: translateY(46px);
    
    .container{
        width: 200px;
        padding: 20px 20px;
        margin-bottom: 20px;
        border-radius: 40px;
background: linear-gradient(144deg, rgba(163,163,163,1) 15%, rgba(31,31,255,1) 45%, rgba(1,126,255,1) 66%);
   
}
 @media screen and (max-width: 680px) {
  .MiniCardContainer{
 border:2px solid red;
  display: flex;
  flex-direction: column;
  gap: 30px;

  

  }
}
}